/* this is the css stylesheet for meeting minutes */


/* adding contrast to h1 and changing color to navy */
h1 {
    color: navy;
    font-size:32px;
}
/* making sub headers more vibrant */
h2 {
    color:rgb(255, 132, 22);
}
/* adjusting agenda to lighter color */
.agenda {
    color:hsl(23,2,34);
}

