/* this is the css stylesheet for meeting minutes */





/* adding contrast to h1 and changing color to navy */
h1 {
    color: navy;
    font-size:32px;
    font-size:3em;
}
/* making sub headers more vibrant */
h2 {
    color:rgb(255, 132, 22);
    background-color:rgb(33,33,33);
    font-size:2rem;
}
em {
    text-decoration: solid;
    text-align: center;
}

header {
    width:80vw;
    margin-top:20px;
    margin-right:15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

section {
    height:20com;
    overflow-y:auto;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}

footer {
    margin-top: 20x 15px 20px 15px;
    font-size:1.2rem;
    text-align: center;
}



body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin:auto;
}
/* adjusting agenda to lighter color */
.agenda {
    color:hsl(23,2,34);
}
/*making image rounder and correcting size, giving color */
img {
    width:150px;
    height:150px;
    border-radius:50%;
    border-width: 5px;
    border-style: inset;
    border-color:solid red;
    display:inline-block;
}

video {
    display:inline;
    max-width: 100%;
    min-width:480px;
    position:static;
}

audio {
    display:inline;
    max-width: 100%;
    min-width:480px;
    position:relative;
}

/* using color() to change p tag*/
p {
    color:color(display-p3 1 0.5 0.2), rgb(255,100,50);
}

/* using color-mx() to combine to colors for names */
li {
    color:color-mix(in display-p3, red 60%, blue 40%);
}

/*giving button hover and actives */

button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: darkorange;
    transform: scale(0.98);
}

.flex-layout {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 20px;
}

.box {
    background-color: aliceblue;
    color:skyblue;
    padding: 15px;
    width:120px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}