/* this is the css stylesheet for meeting minutes */





/* adding contrast to h1 and changing color to navy */
h1 {
    color: navy;
    font-size:32px;
}
/* making sub headers more vibrant */
h2 {
    color:rgb(255, 132, 22);
    background-color:rgb(33,33,33);
}
/* adjusting agenda to lighter color */
.agenda {
    color:hsl(23,2,34);
}
/*making image rounder and correcting size, giving color */
img {
    width:150px;
    height:150px;
    border-radius:50%;
    border: 5px solid red;
}

/* using color() to change p tag*/
p {
    color:color(display-p3 1 0.5 0.2), rgb(255,100,50);
}

/* using color-mx() to combine to colors for names */
li {
    color:color-mix(in display-p3, red 60%, blue 40%);
}